# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp=3.9.3=pypi_0
aiosignal=1.3.1=pypi_0
appnope=0.1.4=pyhd8ed1ab_0
asttokens=2.4.1=pyhd8ed1ab_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
base58=2.1.1=pypi_0
bitarray=2.9.2=pypi_0
blas=1.0=openblas
bottleneck=1.3.5=py39heec5a64_0
ca-certificates=2024.2.2=hf0a4a13_0
certifi=2024.2.2=pypi_0
charset-normalizer=3.3.2=pypi_0
comm=0.2.1=pyhd8ed1ab_0
cytoolz=0.12.1=pypi_0
dateparser=1.0.0=pypi_0
debugpy=1.6.7=py39h313beb8_0
decorator=5.1.1=pyhd8ed1ab_0
dydx-v3-python=2.1.0=pypi_0
ecdsa=0.18.0=pypi_0
entrypoints=0.4=pyhd8ed1ab_0
eth-abi=2.2.0=pypi_0
eth-account=0.5.9=pypi_0
eth-hash=0.6.0=pypi_0
eth-keyfile=0.5.1=pypi_0
eth-keys=0.3.4=pypi_0
eth-rlp=0.2.1=pypi_0
eth-typing=2.3.0=pypi_0
eth-utils=1.9.5=pypi_0
executing=2.0.1=pyhd8ed1ab_0
frozenlist=1.4.1=pypi_0
hexbytes=0.3.1=pypi_0
idna=3.6=pypi_0
ipfshttpclient=0.8.0a2=pypi_0
ipykernel=6.29.2=pyh3cd1d5f_0
ipython=8.12.0=pyhd1c38e8_0
jedi=0.19.1=pyhd8ed1ab_0
jsonschema=4.21.1=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter_client=7.3.4=pyhd8ed1ab_0
jupyter_core=5.5.0=py39hca03da5_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_0
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libopenblas=0.3.21=h269037a_0
libsodium=1.0.18=h27ca646_1
llvm-openmp=14.0.6=hc6e5704_0
lru-dict=1.3.0=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mpmath=1.0.0=pypi_0
multiaddr=0.0.9=pypi_0
multidict=6.0.5=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
netaddr=0.10.1=pypi_0
numexpr=2.8.7=py39hecc3335_0
numpy=1.26.3=py39h3b2db8e_0
numpy-base=1.26.3=py39ha9811e2_0
openssl=3.2.1=h0d3ecfb_0
packaging=23.1=py39hca03da5_0
pandas=2.1.4=py39h46d7db6_0
parsimonious=0.8.1=pypi_0
parso=0.8.3=pyhd8ed1ab_0
patsy=0.5.3=py39hca03da5_0
pexpect=4.9.0=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pip=23.3.1=py39hca03da5_0
platformdirs=4.2.0=pyhd8ed1ab_0
prompt-toolkit=3.0.42=pyha770c72_0
prompt_toolkit=3.0.42=hd8ed1ab_0
protobuf=3.19.5=pypi_0
psutil=5.9.0=py39h1a28f6b_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
pycryptodome=3.20.0=pypi_0
pygments=2.17.2=pyhd8ed1ab_0
python=3.9.18=hb885b13_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-decouple=3.8=pypi_0
python-tzdata=2023.3=pyhd3eb1b0_0
python_abi=3.9=2_cp39
pytz=2024.1=pypi_0
pyzmq=25.1.2=py39h313beb8_0
readline=8.2=h1a28f6b_0
referencing=0.33.0=pypi_0
regex=2023.12.25=pypi_0
requests=2.31.0=pypi_0
rlp=2.0.1=pypi_0
rpds-py=0.17.1=pypi_0
scipy=1.11.4=py39h20cbe94_0
setuptools=68.2.2=py39hca03da5_0
six=1.16.0=pyhd3eb1b0_1
sqlite=3.41.2=h80987f9_0
stack_data=0.6.2=pyhd8ed1ab_0
statsmodels=0.14.0=py39hbda83bc_0
sympy=1.6=pypi_0
tk=8.6.12=hb8d0fd4_0
toolz=0.12.1=pypi_0
tornado=6.1=py39h5161555_1
traitlets=5.14.1=pyhd8ed1ab_0
typing_extensions=4.9.0=pyha770c72_0
tzdata=2023d=h04d1e81_0
tzlocal=5.2=pypi_0
urllib3=2.2.0=pypi_0
varint=1.0.2=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
web3=5.31.4=pypi_0
websockets=9.1=pypi_0
wheel=0.41.2=py39hca03da5_0
xz=5.4.5=h80987f9_0
yarl=1.9.4=pypi_0
zeromq=4.3.5=h313beb8_0
zlib=1.2.13=h5a0b063_0
